@use "variables";

.html {
    font-size: var(--global-font-size);
}

.header-container {
    width: 100%;
    height: var(--header-container-h);
    background-color: transparent;
    position: fixed;
    border-bottom: 2px solid color-mix(in oklab, var(--color-gray-950) 5%, transparent);
    align-items: center;
    z-index: 999;
}


.main-container {
    width: 100%;
    min-height: calc(100vh - var(--header-container-h));
    // padding-top: var(--header-container-h);
    align-items: center;
    
}


.footer-container {
    width: 100%;
    height: var(--footer-container-h);
    background-color: azure;
    border-top: 2px solid color-mix(in oklab, var(--color-gray-950) 5%, transparent);
}