:root {
    --global-font-size: 16px;
    --header-container-h: 3.75rem;
    --footer-container-h: 3.75rem;
    --mask-color: rgba(0, 0, 0, 0.3);
    --home-card-spacing-pc: 1.5625rem;
    --home-card-spacing-mobile: 1.25rem;
}
